.header
    background-color: black
    color: white
.logoBox
    background-color: black

    width: 40px
    height: 40px

.dropDownLanguage
    position: absolute
    inset: 0px auto auto 0px
    margin: 0px
    transform: translate(0px, 31px)